@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body
{
    font-family: 'Roboto', sans-serif;
}
header
{
    background-color: rgb(187, 187, 187);
    padding: 10px 20px;
    -webkit-box-shadow: 0px 10px 16px -7px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 10px 16px -7px rgba(0,0,0,0.64);
    box-shadow: 0px 10px 16px -7px rgba(0,0,0,0.64);
}
    input[type=text]
    {
        border-radius: 10px;
        border: 2px solid rgb(145, 142, 142);
        height: 30px;
        padding: 5px;
    }
    nav a{
        font-size: 1.3rem;
        background-color: #67abd8;
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        color: #fff;
        margin: 0 10px;
    }

    nav a:hover{
        position: relative;
        top: 2px;
        -webkit-box-shadow: inset 0px 10px 16px -7px rgba(0,0,0,0.64);
    -moz-box-shadow: inset 0px 10px 16px -7px rgba(0,0,0,0.64);
    box-shadow: inset 0px 10px 16px -7px rgba(0,0,0,0.64);

    }
    #site-logo{
        font-size: 3rem;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        top: 10px;
        margin-right: 30px;
    }
#content
{
background-color: transparent;
padding: 50px;
height: 100vh;
}
.description{
    font-size: 0.8em;
    margin-top: 20px;
}
p{
    line-height: 1.5em;
}
h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
    
}
h3{text-align: center; font-weight: 100; margin-top: 20px;}

    .wrapper div
    {
    border: 1px solid rgb(223, 222, 222);
    
    }
    .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 2 / 1 / 4 / 3; }
    .div3 { grid-area: 3 / 3 / 4 / 6; }
    .div4 { grid-area: 2 / 3 / 3 / 6; }
    .div5 { grid-area: 4 / 1 / 5 / 6; }
    .div6 { grid-area: 5 / 1 / 6 / 6; }

    .div1,.div2,.div3,.div4,.div5,.div6{
        background-color: rgb(226, 224, 224);
        padding: 15px
    }
    .div2{
        background-color: white;
        border: 0px solid black !important;
    }

    img
    {
        transition: all .3s ease-in-out;
    }

    img:hover{
        transform: scale(1.2);
    }



footer
{
    background-color: rgb(170, 186, 240);
    text-align: center;
    padding: 100px 0;
}
footer li{
    letter-spacing: 3px;
    padding: 20px 0;
}
